<p-card>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2 pl-4 pt-4 text-2xl font-bold">
        <fa-icon class="icon" [icon]="faScrewdriverWrench"></fa-icon>
        <span >{{'SKILLS.soft' | translate | titlecase}}</span>
    </div>
</ng-template>
  <div class="grid">
    <div class="col-6 md:col-6 lg:col-3" *ngFor="let skill of skills">
      <p-card styleClass="skill-card" [header]="skill.title | titlecase">
        <ul class="list-none p-0 m-0 flex align-content-center mt-2 gap-2">
          <li
            class="flex-1"
            [ngClass]="skill.level >= 1 ? 'skill-level' : ''"
          ></li>
          <li
            class="flex-1"
            [ngClass]="skill.level >= 2 ? 'skill-level' : ''"
          ></li>
          <li
            class="flex-1"
            [ngClass]="skill.level >= 3 ? 'skill-level' : ''"
          ></li>
          <li
            class="flex-1"
            [ngClass]="skill.level >= 4 ? 'skill-level' : ''"
          ></li>
          <li
            class="flex-1"
            [ngClass]="skill.level == 5 ? 'skill-level' : ''"
          ></li>
        </ul>
        <ng-template pTemplate="footer">
          <span>{{ "SKILLS.year" | translate:{value: skill.experience} }}</span>
        </ng-template>
      </p-card>
    </div>
  </div>
</p-card>
