<!-- <div class="grid p-2">
  <div class="col-12 md:col-12 lg:col-4"><app-skills></app-skills></div>
  <div class="col-12 md:col-12 lg:col-8"><app-education></app-education></div>
  <div class="col-12 md:col-12 lg:col-4"><app-languages></app-languages></div>
  <div class="col-12 md:col-12 lg:col-8"><app-soft></app-soft></div>
  <div class="col-12 md:col-12 lg:col-4"><app-hobbies></app-hobbies></div>
</div> -->

<div class="grid p-2">
  <div class="col-12 md:col-12 lg:col-4 grid">
    <div class="col-12"><app-skills></app-skills></div>
    <div class="col-12"><app-languages></app-languages></div>
    <div class="col-12"><app-hobbies></app-hobbies></div>
  </div>
  <div class="col-12 md:col-12 lg:col-8 grid">
    <div class="col-12"><app-education></app-education></div>
    <div class="col-12"><app-soft></app-soft></div>
  </div>
</div>