<p-card>
    <ng-template pTemplate="header">
      <div class="flex gap-2 pl-4 pt-4 text-2xl font-bold">
        <fa-icon class="icon" [icon]="faGraduationCap"></fa-icon>
        <span>{{ "EDUCATION.title" | translate | titlecase }}</span>
      </div>
    </ng-template>
    <div>
        <p-timeline [value]="education" align="alternate">
            <ng-template pTemplate="content" let-event>
                <p-card [header]="'EDUCATION.'+event.titleKey | translate" styleClass="skill-card">
                    <div>
                        <span class="font-italic timeSpan">{{event.timeSpan}}</span><br><br>
                        <span>{{'EDUCATION.'+event.descritpionKey | translate}}</span>
                    </div>
                </p-card>
            </ng-template>
        </p-timeline>
    </div>
</p-card>
