<div class="flex flex-wrap align-items-center justify-content-between p-2 card">
  <div class="flex gap-8">
    <div class="flex align-items-center">
      <h1 class="uppercase title">Simon Valat</h1>
    </div>
    <div class="flex align-items-center">
      <span class="text-xl title">{{'BASE.title' | translate | uppercase}}</span>
    </div>
  </div>
  <div>
    <div class="flex gap-2 pr-2">
      <div class="flex align-items-center gap-4">
        <a class="flex align-items-center" href="https://www.malt.fr/profile/simonvalat" target="_blank" pTooltip="Malt" tooltipPosition="bottom"><img src="assets/images/malt-dark.svg" width="30px"></a>
        <a href="https://www.linkedin.com/in/simon-valat-45b1251b6" pTooltip="LinkedIn" tooltipPosition="bottom" target="_blank"><fa-icon class="icon" size="2xl" [icon]="faLinkedin"></fa-icon></a>
        <a href="https://github.com/simon-valat/simon-valat.github.io" target="_blank" pTooltip="Github" tooltipPosition="bottom"><fa-icon class="icon" size="2xl" [icon]="faGithub"></fa-icon></a>
      </div>
      <div class="flex align-items-center">
        <p-button styleClass="p-button-text" (click)="onLangChange()">
          <img [src]="'assets/images/'+lang+'.png'" style="width: 1.5rem" />
      </p-button>
      </div>
      <div class="flex align-items-center">
        <p-inputSwitch [(ngModel)]="darkTheme" (onChange)="onThemeChange()"></p-inputSwitch>
      </div>
    </div>
  </div>
</div>
